body{
    background-image: url("assets/bg (waterDrops).jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 15pt;
}

.nav{
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    --bs-nav-link-color: #000000;
     
}

.header{
    position: relative;
    position: sticky;
    top: 0%;
    z-index: 999;
  

}

.nav-link:hover, .nav-link:focus{
    color: rgb(88, 147, 202);
  }

.adsCarousel{
  background: linear-gradient(90deg, rgba(76, 188, 216, 0.802) 0%, rgba(255, 255, 255, 0.692) 45%);
  padding-top: .5%;
  padding-bottom: .5%;

}

.txtAds1{
  margin-top: 15px;  
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.275);
  padding-left: 15%;
  padding-right: 15%;

}

.txtAds2{
  background-image: url("assets/bg(glare).jpg");
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.357);
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5px;
    padding-top: 5px;
    
}


.row {
    --bs-gutter-y: 0;
    --bs-gutter-x: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.textMain{
  font-size: 200%;
  text-align: center;
  word-wrap: break-word;
}  
  
.textSub1{
  font-size: 150%;
  text-align: center;
  word-wrap: break-word;
  font-weight: bold;  
}
  
  
.textSub2{
  font-size: 130%;
  text-align: center;
  word-wrap: break-word; 
}
  
.textDes{
  font-size: 100%;
  text-align: center;
  font-style: italic;
  word-wrap: break-word;
}
 
.adsImg{
  width: 40%;
  height: auto;
  border-radius: 5%;
}

.footer{
  margin-top: 5px;
  background-color: rgba(105, 68, 184, 0.742);
}

#textContact{
  text-align: left;
  font-size: 25pt;  
}

.serviceToOffer{
  padding-left: 15%;
  padding-right: 15%;
    
}


.carousel-item img {
  width: 100%; /* set the width of the image */
  height: auto; /* set the height to automatically adjust */
}


#imgCaro
{
  height: 75vh;
  display: block;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  line-height: 1;

}

.carousel-inner {
  position: relative;
  object-position: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.AboutCompany{
  padding-right: 13%;
  padding-left: 13%;
  padding-top: 5px;
  padding-bottom: 5px ;
  margin-top: 15px;
}

#foundersTable{
  background-image: url("assets/bg(bubbles).jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.companyHistory{
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 5px ;
  padding-bottom: 5px ;


}

.contactInfo1 {
  display: block;
  margin-left: auto;
  width: auto;
  height: 50%;
}

.serviceToOffer{
  margin-top: 15px;
  margin-bottom: 15px;
}

#tableServices{
  background: linear-gradient(90deg, rgba(76, 188, 216, 0.802) 0%, rgba(255, 255, 255, 0.692) 45%);
  max-width: 1100vw;
  display: block;
  left:0;
}

#carousel-1, #carousel-2, #carousel-3, #carousel-4, #carousel-5{
  display: block;
}

.carousel-inner {
  position: relative;
  object-position: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

td{
  text-align: left;
}


.calendar{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 15%;
  padding-left: 15%;
  background-image: url("assets/bg(soap).jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a {
  color: #30e1f3;
  text-decoration: underline;
  --bs-link-hover-color: #f7f7f7;
}


